#login-container {
    margin-top: 10%;
}

#login-container h2,
#login-container button,
#login-container form {
    width: 100%;
}

#login-container button{
    margin-top: 15px;
    background-color: #4e4e4e;
    border-color: #4e4e4e;
}

#login-container .form-label {
    float:left;
}
